.header {
    border-bottom: 1px solid var(--header-bottom-line);
}

.logo-header {
    display: block;
    @include section-pading(24px, 25px)

    font-family: 'Raleway', sans-serif;
    @include font(700, 26px, 1.19, 0.03em );
    text-decoration: none;
    &__text {
        color: var(--logo-web);
    }
    &__text--darck {
        color: var(--logo-studio);
    }
}

.header__logo {
    margin-right: 93px;
}

/* ----------------------------NAVIGATION */
.header__container {
    display: flex;
    align-items: center;
}

.header-list__item + .header-list__item {
    margin-left: 50px;
}

.header-contact-list {
    margin-left: auto;
}

.header-contact-list__item + .header-contact-list__item {
    margin-left: 50px;
}

.header-list,
.header-contact-list {
    display: flex;

    @include font(500, 14px, 1.14, 0.02em );
}

.header-list__link {
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-black);
    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.header-list__link--interactiv-line::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;

    position: absolute;
    bottom: -1px;
}

/* ----------------------------CONTACT */
.header-contact-list__mail {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-gray);
    align-items: center;
        &:focus,
        &:hover {
    color: var(--brand-color);
}
}

.header-contact-list__tell {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-gray);
    align-items: center;
        &:focus,
        &:hover {
        color: var(--brand-color);
    }
}

.header-contact-list__item {
    display: flex;
    align-items: center;
}

.header-contact-list__icon-tel,
.header-contact-list__icon-mail {
    margin-right: 10px;
    fill: currentColor;
}
