.team-socials-list {
    display: flex;
    justify-content: center;
}

.team-socials-list__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 44px;
    height: 44px;
    background-color: var(--team-social-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--team-social-link);

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: var(--brand-color);
    }
}

.team-socials-list__icon {
    fill: currentColor;
}

.team-socials-list__item + .team-socials-list__item {
    margin-left: 10px;
}
