.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;

    width: 528px;
    min-height: 521px;
    padding: 40px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;

    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.modal__icon-close {
    fill: currentColor;
}

/* -------------------Форма модалки----------- */

.modal-form__title {
    @include font(700, 20px, 1.15, 0.03em );
    text-align: center;

    margin-bottom: 12px;
    color: #212121;
}

.modal-form__inputs-box {
    position: relative;

    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px;
    padding-left: 42px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--brand-color);
    }

    &:focus-visible {
        border: 1px solid var(--brand-color);
        outline: transparent;
    }
}

.modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
    fill: var(--brand-color);
}

.modal-form__label {
    @include font(null, 12px, 1.16, 0.01em );
    color: #757575;
}

.modal-form__coments {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;

    margin-bottom: 20px;
    margin-top: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        @include font(null, 14px, 1.14, 0.01em );
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border: 1px solid var(--brand-color);
    }

    &:focus-visible {
        border: 1px solid var(--brand-color);
        outline: transparent;
    }
}

.modal-form__terms-cont {
    margin-bottom: 30px;
}

.modal-form__label-terms {
    display: flex;
    justify-content: center;
    align-items: center;

    @include font(null, 14px, 1.71, 0.03em );

    color: #757575;

    position: relative;
}

.modal-form__input-terms {
    margin-right: 7px;
}

.modal-form__terms-user-link {
    @include font(null, 14px, 1.71, 0.03em );
    text-decoration-line: underline;
    margin-left: 0.3em;

    color: #2196f3;
}

.modal-form__btn-submit {
    min-width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto 0 auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 55px;
    padding-left: 55px;

    border: transparent;
    border-radius: var(--border-btn-radius);
    cursor: pointer;

    font-family: inherit;
    @include font(700, 16px, 1.87, 0.06em );

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--project-background);
    background-color: var(--brand-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

/* ------------checkbox------------- */

.modal-form__icon-checbox {
    margin-right: 7px;
    display: flex;
    align-items: center;

    border: solid #000000 2px;
    border-radius: 2px;
    width: 16px;
    height: 15px;
}

.modal-form__input-terms:checked + .modal-form__icon-checbox .modal-form__icon-check {
    display: block;
    border: none;
}

.modal-form__icon-check {
    display: none;
}

.modal-form__input-terms:checked + .modal-form__icon-checbox {
    border: none;
}

// .modal-form__input-terms:focus + .modal-form__icon-checbox {
//     outline: var(--brand-color) solid 1px;
// }
